body{
    background-color: rgb(10, 72, 9);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button{
    background-color: rgb(38, 200, 5);
    color:white;
    font-family: "Bai Jamjuree", sans-serif;
}
